.card-container {
    display: flex;
    flex-direction: column;
   background: linear-gradient(
    to right,
    rgb(196, 41, 2) 0%,
    rgb(236, 232, 1) 100%
  );
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    align-items: center;
    height: 270px;
    width: 220px;
    margin: 0 auto;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  
  .card-container img{
    width: 180px;
  }