body {
  padding: 30px 0;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Caveat Brush', cursive;
  font-size: 90px;
  margin: 0 auto;

  background: linear-gradient(to right, 
  rgb(196, 41, 2) 0%,
  rgb(236, 232, 1) 100%);
  width: 30%;
  
}
